.home-container {
  text-align: center;
}

.home-container h1 {
  font-size: 3rem;
  color: var(--primary-red);
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1.3rem;
  max-width: 600px;
  margin: 0 auto;
}